# Don't version user oauth credentials
# These are generated per user, and will be generated on your system
cookie.txt
storage.json

# Don't version cached or compiled python files
__pycache__/
*.pyc

# Don't sync build related files
build/
dist/
*.egg-info

# Don't sync VS Code configuration
.vscode/