[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
twine = "*"
coverage = "*"
coveralls = "*"

[packages]
google-api-python-client = "*"
requests = "*"
lxml = "*"
python-dateutil = "*"
pytz = "*"
oauth2client = "*"
